h1 {
  float: left;
}

.header {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 200px;
  width: 100%;
}

.nav-link {
  float: right;
  margin: 10px;
  margin-right: 27px;
}

.page-body {
  position: relative;
  top: 200px;
}
