h1 {
  float: left;
}

ul {
  list-style: none;
}

.header {
  position: relative;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 200px;
  width: 100%;
}

.nav-link {
  float: right;
  margin: 10px;
  margin-right: 27px;
}

.cart-display {
  margin: 40px;
  margin-bottom: 70px;
  position: relative;
  top: 80px;
  height: 100px;
  width: 100%;
  clear: both;
}

.cart-display > h3 {
  float: left;
}

.cart-display > li {
  margin: 20px;
  margin-top: 25px;
  float: left;
  list-style: none;
}

.cart-display > li > img {
  height: 40px;
}

.cart-display > h4 {
  clear: both;
}

.cart-display > li > button {
  background-color: inherit;
  border: none;
}

.cart-display > li > button > img {
  height: 25px;
  width: auto;
}

.page-body {
  position: relative;
  top: 100px;
  clear: both;
}

.item {
  height: 500px;
  width: 500px;
  float:left;
  margin: 20px;
}

.item > li > img {
  max-height: 300px;
  margin: 20px;
}

.item-detail {
  position: relative;
  margin: 30px;
}

.item-detail > h1 {
  float: none;
}

.item-detail > img {
  margin: 20px;
  height: 500px;
}

.review-tile > li {
}

#newReview {
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: darkgrey;
  border: none;
  color: white;
}
