<div class="header">
  <div class="nav-bar">
    <h1>Yerba Shop</h1>
    <div class="nav-link">
      <h3>About</h3>
    </div>
    <div class="nav-link">
      <h3>Bombillas</h3>
    </div>
    <div class="nav-link">
      <h3>Mates</h3>
    </div>
    <div class="nav-link">
      <h3>Yerba</h3>
    </div>
    <div class="nav-link">
      <h3>Home</h3>
    </div>
  </div>
</div>
<div class="page-body">
  {{outlet}}
</div>
